@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/free-mode';

@layer base {
  @font-face {
    font-family: 'Fixel Text';
    src: url('/fonts/fixel/FixelText/FixelText-Light.woff2') format('woff2'),
      url('/fonts/fixel/FixelText/FixelText-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fixel Text';
    src: url('/fonts/fixel/FixelText/FixelText-Regular.woff2') format('woff2'),
      url('/fonts/fixel/FixelText/FixelText-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fixel Text';
    src: url('/fonts/fixel/FixelText/FixelText-Medium.woff2') format('woff2'),
      url('/fonts/fixel/FixelText/FixelText-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fixel Text';
    src: url('/fonts/fixel/FixelText/FixelText-Bold.woff2') format('woff2'),
      url('/fonts/fixel/FixelText/FixelText-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* FixelDisplay for Big Headings*/
  @font-face {
    font-family: 'Fixel Display';
    src: url('/fonts/fixel/FixelDisplay/FixelDisplay-Regular.woff2')
        format('woff2'),
      url('/fonts/fixel/FixelDisplay/FixelDisplay-Regular.otf')
        format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fixel Display';
    src: url('/fonts/fixel/FixelDisplay/FixelDisplay-Medium.woff2')
        format('woff2'),
      url('/fonts/fixel/FixelDisplay/FixelDisplay-Medium.otf')
        format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fixel Display';
    src: url('/fonts/fixel/FixelDisplay/FixelDisplay-Bold.woff2')
        format('woff2'),
      url('/fonts/fixel/FixelDisplay/FixelDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* Variable version */
  @font-face {
    font-family: 'Fixel Var';
    src: url('/fonts/fixel/FixelVariable/FixelVariable.ttf') format('ttf'),
      format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body {
    font-family: 'Fixel Text', sans-serif;
  }
}
/* .scrollbar-always {
  overflow-x: scroll;
  scrollbar-gutter: stable;
}
.scrollbar-always::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-always::-webkit-scrollbar-thumb {
  background-color: #ff3d8c;
  border-radius: 4px;
}
 */
